.wrapper {
    @apply flex flex-col justify-center w-full bg-black;
}

.mainContainer {
   
}

.topContainer {
  
}

.heading1 {
    @apply text-[1.5rem] text-center text-[#2992f8] p-[2.5] pt-[1rem] font-[600] mb-[1rem];
}

/* Responsive adjustments */
@media (orientation: portrait) {
   
}

@media (orientation: landscape) {
}

/* Additional adjustments for smaller screens */
@media (max-width: 800px) {
    /* .proseBackground {
        @apply w-[100%];
    } */
}