.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20vw;
    padding: 10rem 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.body {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.lineMask {
    overflow: hidden;
}

.lineMask p {
    margin: 0px;
    font-weight: 700;
}