.bentoBoxContainer {
    padding: 2rem 20rem;
    border-bottom: 1px solid;
}

.bentoBox {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 15px;
    padding: 20px;
    grid-template-areas:
        "box1 box1 box1 box2 box2 box2 box2 box2 box2"
        "box1 box1 box1 box3 box3 box3 box4 box4 box4"
        "box5 box5 box5 box5 box5 box5 box6 box6 box6"
        "box5 box5 box5 box5 box5 box5 box6 box6 box6"
        ". . . . . . . . ."
        ". . . . . . . . .";
}

.box {
    background: #000000;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 200px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border: 0.1px solid rgb(62, 62, 62);
}

.box img {
    position: absolute;
    max-width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: 600;
    color: white;
}

.content {
    font-size: 1.1rem;
    font-weight: 600;
    overflow: hidden;
    color: rgb(166, 166, 166);
}

.box1 {
    grid-area: box1;
    height: 715px;
}

.box1 .title {
    order: 1;
}

.box1 .content {
    order: 3;
    margin-top: 34rem;
}

.box1 img {
    order: 2;
    margin-top: 10rem;
    margin-left: 1.2rem;
    max-width: 20rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.box2 {
    grid-area: box2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.box2 .title {
    order: 2;
    margin-top: 14rem;
}

.box2 img {
    order: 1;
    margin-left: 8.9rem;
    max-width: 39rem;
    margin-top: 0.0rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.box2 .content {
    order: 3;
}

.box3 {
    grid-area: box3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.box3 .content {
    order: 3;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.box3 img {
    order: 1;
    margin-top: 0rem;
    margin-left: 0.6rem;
    max-width: 21.5rem;
}

.box3 .title {
    order: 2;
    margin-top: 11.0rem;
    text-align: center;
}

.box4 {
    grid-area: box4;
    display: flex;
    height: 350px;
}

.box4 img {
    order: 3;
    margin-top: 9rem;
    margin-left: 1.1rem;
    max-width: 20rem;
}

.box4 .title {
    order: 1;
}

.box4 .content {
    order: 2;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;
}

.box5 {
    grid-area: box5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.box5 img {
    order: 1;
    margin-top: 0rem;
    margin-left: 12rem;
    max-width: 25rem;
}

.box5 .content {
    order: 3;
}

.box5 .title {
    order: 2;
    margin-top: 14rem;
}

.box6 {
    grid-area: box6;
    display: flex;
    height: 350px;
}

.box6 .title {
    order: 1;
}

.box6 .content {
    order: 2;
}

.box6 img {
    order: 3;
    margin-top: 6.2rem;
    margin-left: 4.7rem;
    max-width: 13rem;
}

.bentoBlackBox {
    display: flex;
    position: absolute;
    top: 220.7rem;
    left: 20.3rem;
    background-color: rgb(29, 29, 29);
    height: 69.3rem;
    width: 78.2rem;
    border-radius: 30px;
    z-index: 1;
}

.bentoBox:hover .box {
    opacity: 0.3;
}

.bentoBox .box:hover {
    opacity: 1;
    transform: scale(1.01);
}

.imageWithGlow {
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 15px; */
}

.hoverContent {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box:hover .hoverContent {
    opacity: 1;
}

.customBox1 {
    display: flex;
    position: absolute;
    top: 27rem;
    left: 7.5rem;
    background-color: rgba(45, 45, 45, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 900;
    border: 1px solid rgb(69, 69, 69);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.customBox2 {
    display: flex;
    position: absolute;
    top: 38rem;
    left: 7.5rem;
    background-color: rgba(45, 45, 45, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 900;
    border: 1px solid rgb(69, 69, 69);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.customBox3 {
    display: flex;
    position: absolute;
    top: 38rem;
    left: 7.5rem;
    background-color: rgba(45, 45, 45, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 900;
    border: 1px solid rgb(69, 69, 69);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}