.bentoBoxContainer {
    padding: 2rem 20rem;
}

.bentoBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    padding: 20px;
    grid-template-areas:
        "box1 box2 box2"
        "box1 box3 box4"
        "box5 box5 box6"
        ". . .";
}

.box {
    background: #040404;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: white;
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 200px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.box img {
    position: absolute;
    max-width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: 600;
}

.content {
    font-size: 1.1rem;
    font-weight: 400;
    overflow: hidden;
}

.box1 {
    grid-area: box1;
    height: 715px;
    justify-content: space-between;
}

.box1 .title {
    order: 1;
}

.box1 .content {
    order: 3;
}

.box1 img {
    order: 2;
    margin-top: 10rem;
    margin-left: .7rem;
    max-width: 20rem;
}

.box2 {
    grid-area: box2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.box2 .title {
    order: 2;
    margin-top: 11rem;
}

.box2 img {
    order: 1;
    margin-left: 23rem;
    max-width: 23rem;
    margin-top: .5rem;
}

.box2 .content {
    order: 3;
}

.box3 {
    grid-area: box3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.box3 .content {
    order: 3;
}

.box3 img {
    order: 1;
    margin-top: 0rem;
    margin-left: 2.5rem;
}

.box3 .title {
    order: 2;
    margin-top: 10.5rem;
}

.box4 {
    grid-area: box4;
    display: flex;
    height: 350px;
}

.box4 img {
    order: 3;
    margin-top: 9rem;
    margin-left: 0.5rem;
    max-width: 20rem;
}

.box4 .title {
    order: 1;
}

.box4 .content {
    order: 2;
}

.box5 {
    grid-area: box5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.box5 img {
    order: 1;
    margin-top: 0rem;
}

.box5 .content {
    order: 3;
}

.box5 .title {
    order: 2;
    margin-top: 11rem;
}

.box6 {
    grid-area: box6;
    display: flex;
    height: 350px;
}

.box6 .title {
    order: 1;
}

.box6 .content {
    order: 2;
}

.box6 img {
    order: 3;
    margin-top: 8rem;
    margin-left: 3.0rem;
    max-width: 15rem;
}

.bentoBlackBox {
    display: flex;
    position: absolute;
    top: 220.9rem;
    left: 20.5rem;
    background-color: rgb(29, 29, 29);
    height: 68.8rem;
    width: 77.9rem;
    border-radius: 30px;
    z-index: 1;
}

.bentoBox:hover .box {
    opacity: 0.3;
}

.bentoBox .box:hover {
    opacity: 1;
    transform: scale(1.01);
}

