.bentoBoxContainer {
    padding: 2rem 20rem;
    border-bottom: 1px solid;
}

.bentoBox {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    padding: 20px;
    grid-template-areas:
        "box1 box1 box1 box1 box2 box2 box2 box2 box2 box2 box2 box2"
        "box1 box1 box1 box1 box3 box3 box3 box3 box4 box4 box4 box4"
        "box7 box7 box8 box8 box9 box9 box9 box9 box9 box9 box9 box9"
        "box5 box5 box5 box5 box5 box5 box5 box5 box6 box6 box6 box6"
        "box5 box5 box5 box5 box5 box5 box5 box5 box6 box6 box6 box6"
        ". . . . . . . . . . . .";
}

.box {
    background: #000000;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 200px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border: 0.1px solid rgb(62, 62, 62);
}

.box img {
    position: absolute;
    max-width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: 600;
    color: white;
}

.content {
    font-size: 1.1rem;
    font-weight: 600;
    overflow: hidden;
    color: rgb(166, 166, 166);
}

.box1 {
    grid-area: box1;
    height: 715px;
}

.box1 .title {
    order: 1;
    text-align: center;
    font-size: 2.5rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, #6300a1, #c87fc8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box1 .content {
    order: 3;
    margin-top: 34rem;
}

.box1 img {
    order: 2;
    margin-top: 10rem;
    margin-left: 1.2rem;
    max-width: 20rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.box2 {
    grid-area: box2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.box2 .title {
    order: 2;
    margin-top: 14rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box2 img {
    order: 1;
    margin-left: 8.9rem;
    max-width: 39rem;
    margin-top: 0.0rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.box2 .content {
    order: 3;
}

.box3 {
    grid-area: box3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.box3 .content {
    order: 3;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.box3 img {
    order: 1;
    margin-top: 0rem;
    margin-left: 0.6rem;
    max-width: 21.5rem;
}

.box3 .title {
    order: 2;
    margin-top: 11.0rem;
    text-align: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, #0f3fba, #c9cacc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box4 {
    grid-area: box4;
    display: flex;
    height: 350px;
}

.box4 img {
    order: 3;
    margin-top: 9rem;
    margin-left: 1.1rem;
    max-width: 20rem;
}

.box4 .title {
    order: 1;
    display: flex;
    position: relative;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, #6300a1, #c87fc8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box4 .content {
    order: 2;
    padding: 10px;
    /* border: 1px solid grey; */
    border-radius: 15px;
    text-align: center;
}

.box5 {
    grid-area: box5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.box5 img {
    order: 1;
    margin-top: 0rem;
    margin-left: 12rem;
    max-width: 25rem;
}

.box5 .content {
    order: 3;
}

.box5 .title {
    order: 2;
    margin-top: 14rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, #0f3fba, #c9cacc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box6 {
    grid-area: box6;
    display: flex;
    height: 350px;
}

.box6 .title {
    order: 1;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, #6300a1, #c87fc8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box6 .content {
    order: 2;
}

.box6 img {
    order: 3;
    margin-top: 6.2rem;
    margin-left: 4.7rem;
    max-width: 13rem;
}

.box7 {
    grid-area: box7;
    display: flex;
    height: 175px;
    justify-content: space-around;
}

.box7 .title {
    order: 1;
    text-align: center;
    border: 1px solid rgb(242, 0, 255);
    border-radius: 20px;
    color: rgb(192, 192, 192);
}

.box7 .content {
    order: 2;
    text-align: center;
}

.box7 img {
    order: 3;
    margin-top: 6.2rem;
    margin-left: 4.7rem;
    max-width: 13rem;
}

.box8 {
    grid-area: box8;
    display: flex;
    justify-content: space-around;
    height: 175px;
}

.box8 .title {
    order: 1;
    text-align: center;
    border: 1px solid rgb(0, 30, 255);
    border-radius: 20px;
    color: rgb(192, 192, 192);
}

.box8 .content {
    order: 2;
    text-align: center;
}

.box8 img {
    order: 3;
    margin-top: 6.2rem;
    margin-left: 4.7rem;
    max-width: 13rem;
}

.box9 {
    grid-area: box9;
    display: flex;
    justify-content: center;
    height: 175px;
    position: relative;
}

.box9 .title {
    order: 1;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, #6300a1, #c87fc8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box9 .content {
    order: 2;
}

.box9 img {
    order: 3;
    margin-top: -2.3rem;
    margin-left: 14.7rem;
    max-width: 26rem;
    /* border: .1px solid rgb(163, 163, 163); */
    border-radius: 10px;
}

.bentoBlackBox {
    display: flex;
    position: absolute;
    top: 109.3rem;
    left: 20.5rem;
    background-color: rgb(25, 25, 25);
    height: 80.2rem;
    width: 78.2rem;
    border-radius: 15px;
    z-index: 1;
}

.bentoBox:hover .box {
    opacity: 0.3;
}

.bentoBox .box:hover {
    opacity: 1;
    transform: scale(1.01);
}

.imageWithGlow {
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 15px; */
}

.hoverContent {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box:hover .hoverContent {
    opacity: 1;
}

.customBox1 {
    display: flex;
    position: absolute;
    top: 24rem;
    left: 2.5rem;
    background-color: rgba(45, 45, 45, 0.6);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.0rem;
    font-weight: 900;
    border: 1px solid rgb(69, 69, 69);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    width: 20rem;
}

.customBox2 {
    display: flex;
    position: absolute;
    top: 38rem;
    left: 7.5rem;
    background-color: rgba(45, 45, 45, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 900;
    border: 1px solid rgb(69, 69, 69);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.customBox3 {
    display: flex;
    position: absolute;
    top: 38rem;
    left: 7.5rem;
    background-color: rgba(45, 45, 45, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 900;
    border: 1px solid rgb(69, 69, 69);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}


.marquee {
    position: absolute;
    top: 159rem;
    left: 59rem;
    width: 38rem;
    overflow: hidden;
    white-space: nowrap;
    z-index: 10;
    padding: 10px;
}

.marqueeTrack {
    display: inline-block;
    animation: marquee 60s linear infinite;
}

.marqueeButton {
    display: inline-block;
    margin: 0 10px;
    width: 7rem;
    height: 3rem;
    padding: 10px 0px;
    background-color: #181818;
    color: rgb(157, 157, 157);
    border: 1px solid rgb(45, 45, 45);
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.0rem;
    font-weight: 700;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.carouselContainer {
    position: absolute;
    bottom: 20px;
    top: 23rem;
    left: 20px;
    right: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    /* background-color: red; */
}

.carouselTrack {
    display: flex;
    height: 100%;
    animation: scroll 12s linear infinite;
}

.carouselImage {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: -30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    16.66% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    83.33% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-300%);
    }
}

.testimonialFeed {
    position: absolute;
    top: 5rem;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: rgb(173, 173, 173);
    font-weight: 500;
    height: 17.0rem;
    /* background-color: red; */
}

.testimonialTrack {
    display: flex;
    flex-direction: column;
    animation: scrollTestimonials 45s linear infinite;
}

.testimonial {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    font-size: 0.875rem;
}

@keyframes scrollTestimonials {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}
.box4Title {
    order: 1;
    display: flex;
    position: relative;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, #6300a1, #c87fc8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 900;
}