.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* background-color: blue; */
}

.mainContainer {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 50.5rem;
    background-color: grey;
}

.mainNavbar {
    display: flex;
    justify-content: center;
    position: absolute;
    /* background-color: red; */
    top: 8px;
    left: 0;
    right: 0;
}

.menuBar {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid black;
}

.menuBar button {
    font-size: 10px;
    margin: 7px;
    margin-right: 15px;
    outline: none;
    border: none;
    background: none;
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.menuBar button:last-child {
    margin-right: 7px;
}

.hamburgerMenu {
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: 1rem;
}

.icon {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 1rem;
}

.icon-inverted {
    filter: invert(100%);
}

.contentUpdateButton {
    position: absolute;
    top: 10px;
    left: 5rem;
    z-index: 20;
    background-color: blue;
    padding: 2px 7px;
    border-radius: 5px;
    font-size: .875rem;
}

.ProseMirror {
    color: black;
    background-color: white;
    font-size: 1.0rem;
    padding: 0.75rem;
    height: 100vh;
    outline: none;
    padding-top: 5.5rem;
}

.ProseBackground {
    /* width: 810px;
    margin: 0 auto;
    background-color: #403f3e; */
}

.collaboration-cursor__caret {
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    word-break: normal;
    pointer-events: none;
}

.collaboration-cursor__label {
    position: absolute;
    top: -1.4em;
    left: -1px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    user-select: none;
    color: black;
    padding: 0.1rem 0.3rem;
    border-radius: 3px 3px 3px 0;
    white-space: nowrap;
}

.ProseMirror:focus {
    border: none;
    outline: 1px solid aqua;
}

.ProseMirror>*+* {
    /* margin-top: 0.75em; */
}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    line-height: 1.1;
}

.ProseMirror code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
}

.ProseMirror pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.ProseMirror code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 3px solid #999999;
}

.ProseMirror hr {
    border: none;
    border-top: 3px solid #999999;
    margin: 2rem 0;
}

/* ............................ */
.textEditor {
    border-radius: 0px;
    border: 1px solid grey;
}

.characterDeck {
    position: absolute;
    top: 45rem;
    left: 0;
    background-color: white;
    height: 20rem;
    width: 100%;
    color: black;
    text-align: center;
    border-top: 3px solid black;
}


.heading3 {
    font-size: 15px;
}

button.is_active {
    background: rgb(197, 197, 197);
    padding: 2px 3px;
    border-radius: 2px;
}

/* General settings for better readability and spacing */
body {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-size: 12pt;
    line-height: 1.5; */
}

/* Style for action */
.action {
    margin-left: 140px !important;
    margin-right: 140px !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: 550;
}

/* Style for scene header */
.scene-header {
    margin-left: 140px !important;
    margin-right: 140px !important;
    margin-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 550;
}

/* Style for character */
.character {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 550;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: -.2rem;
}

/* Style for dialogue */
.dialogue {
    margin-left: 240px !important;
    margin-right: 240px !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: 550;
    line-height: 1.1;
}

/* NodeButton styles */
.nodeButton1 {
    @apply ml-[1rem] px-[10px] py-[5px] bg-[purple] text-white rounded hover:bg-blue-600 text-[.8rem] font-semibold;
}

/* Responsive adjustments */
@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

/* Additional adjustments for smaller screens */
@media (max-width: 600px) {
}