.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* background-color: black; */
    background-color: #373636;
    /* background-color: #5a5a5a; */
}

.mainContainer {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 50.5rem;
    max-width: 1920px;
}

.mainNavbar {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #222222;
    width: 100%;
    /* width: 50.5rem; */
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 30;
    margin: 0 auto;
    /* border-bottom: 1px solid grey; */
}

.menuBar {
    margin-top: 1.3rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    /* width: 50.5rem; */
    top: 1.65rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    /* border-top: 1px solid white; */
}

.menuBar button {
    font-size: 15px;
    margin: 7px;
    margin-right: 15px;
    outline: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-weight: 100 !important;
}

.menuBar button:last-child {
    margin-right: 7px;
}

.menuBarButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlButtonsWrapper {
    display: flex;
    position: absolute;;
    top: 0rem;
    left: 2rem;
    /* background-color: red; */
}

.controlButtonsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    gap: 1rem;
}

/* Menu Styling */
.menu {
    position: absolute;
    top: 3.0rem;
    background-color: #f0f0f0;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    z-index: 40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 12rem;
    color: black;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

.menu li:last-child {
    border-bottom: none;
}

.menu li:hover {
    background: #007aff;
    color: white;
}

.hotkey {
    color: grey;
    font-size: 0.85rem;
}

.fileButton {
    color: white !important;
    /* color: #b8b8ba !important; */
    font-size: 0.875rem !important;
    font-weight: 400;
}

.fileMenuIcon {
    color: white;
}

.fileMenuContainer {

}

.fileMenu {
    position: absolute;
    top: 3.0rem;
    left: 0.0rem;
    background-color: #2e2e2e;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    z-index: 40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 14.3rem;
    color: white;
    /* background-color: red; */
}

.fileMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.fileMenu li {
    /* padding: 0.5rem; */
    cursor: pointer;
    transition: background 0.3s;
}

.fileMenu li:last-child {
    border-bottom: none;
}

.fileMenu li:hover {
    background: #007aff;
    color: white;
    /* border-radius: 5px; */
}

.editButton {
    color: white !important;
        /* color: #b8b8ba !important; */
    font-size: 0.875rem !important;
    font-weight: 400;
}

.editMenuIcon {
    color: white;
}

.editMenuContainer {

}

.editMenu {
    position: absolute;
    top: 3.0rem;
    left: 4.3rem;
    background-color: #2e2e2e;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    z-index: 40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 14.3rem;
    color: white;
    /* background-color: red; */
}

.editMenu ul {
list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.editMenu li {
/* padding: 0.5rem; */
    cursor: pointer;
    transition: background 0.3s;
}

.editMenu li:last-child {
    border-bottom: none;
}

.editMenu li:hover {
    background: #007aff;
    color: white;
    /* border-radius: 5px; */
}

/* File and Edit Button Styling */
.fileButton,
.editButton {
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fileButton:focus,
.editButton:focus {
    background-color: grey;
    color: white;
    outline: none;
    padding: 5px;
    height: auto;
    border-radius: 5px;
}

.stylingIcon {
    color: white !important;
        /* color: #b8b8ba !important; */
    font-size: 0.875rem !important;
    font-weight: 400;
}

.whiteButton {
    color: white !important;
        /* color: #b8b8ba !important; */
    font-size: 0.7rem;
    margin-left: 1rem;
}

.scriptLibraryLink {
    color: inherit;
    text-decoration: none;
}

.no-visited-style {
    color: inherit;
    text-decoration: none;
}

.no-visited-style:visited {
    color: inherit;
}

.icon {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0.70rem;
    right: 1.5rem;
}

.icon-inverted {
    filter: invert(100%);
}

.contentUpdateButton {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.ProseMirror {
    color: black;
    background-color: white;
    font-size: 1.0rem;
    padding: 0.75rem;
    height: 100%;
    outline: none;
    padding-top: 5.5rem;
    min-height: 11in;
}

.ProseBackground {}

.collaboration-cursor__caret {
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    word-break: normal;
    pointer-events: none;
}

.collaboration-cursor__label {
    position: absolute;
    top: -1.4em;
    left: -1px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    user-select: none;
    color: black;
    padding: 0.1rem 0.3rem;
    border-radius: 3px 3px 3px 0;
    white-space: nowrap;
}

.ProseMirror:focus {
    /* border: none;
    outline: 1px solid aqua; */
}

.ProseMirror>*+* {}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    line-height: 1.1;
}

.ProseMirror code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
}

.ProseMirror pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.ProseMirror code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 3px solid #999999;
}

.ProseMirror hr {
    border: none;
    border-top: 3px solid #999999;
    margin: 2rem 0;
}

.textEditor {
    border-radius: 0px;
    border: 1px solid grey;
}

.characterDeck {
    position: absolute;
    top: 45rem;
    left: 0;
    background-color: white;
    height: 20rem;
    width: 100%;
    color: black;
    text-align: center;
    border-top: 3px solid black;
}

.heading3 {
    font-size: 15px;
}

button.is_active {
    background: rgb(197, 197, 197);
    padding: 2px 3px;
    border-radius: 2px;
}

.action {
    margin-left: 140px !important;
    margin-right: 140px !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: 550;
}

.scene-header {
    margin-left: 140px !important;
    margin-right: 140px !important;
    margin-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 550;
}

.character {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 550;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: -.2rem;
}

.dialogue {
    margin-left: 240px !important;
    margin-right: 240px !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: 550;
    line-height: 1.1;
}

.nodeButton1 {
    margin-left: 1rem;
    padding: 5px 0px;
    background: #B344FF;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 0.75rem;
    font-weight: 600;
    width: 5.5rem;
    text-align: center;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), inset 0 -3px 1px rgba(0, 0, 0, 0.3); */
    transition: all 0.3s ease;
    cursor: pointer;
}

.nodeButton1:hover {
    background:  #B344FF;
    /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1), inset 0 -3px 1px rgba(0, 0, 0, 0.1); */
    transform: translateY(-41x);
}

.nodeButton1:active {
    background: #5e0c8a,;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 3px 3px rgba(0, 0, 0, 0.3); */
    transform: translateY(2px);
}

@media (max-width: 600px) {
    .mainContainer {
        width: 100%;
    }

    .mainNavbar {
        width: 100%;
        height: 5.9rem;
    }

    .menuBar {
        flex-wrap: wrap;
        margin-top: 4.0rem;
    }

    .action {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .scene-header {
        margin-left: 10px !important;
        margin-right: 10px !important;
        margin-top: 25px;
    }

    .character {
        margin-left: auto;
        margin-right: auto;
    }

    .dialogue {
        margin-left: 80px !important;
        margin-right: 80px !important;
    }

    .nodeButton1 {
        margin-top: 2.5rem;
        font-size: 0.875rem;
        font-weight: 600;
        width: 5rem;
    }

        .controlButtonsContainer {
            gap: 1.5rem;
        }
}