.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #3d3d3d;
}

.mainContainer {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 50.5rem;
    max-width: 1920px;
}

.fileMenuContainer {
    /* background-color: red; */
}

.editMenuContainer {
    /* background-color: red; */
}

.fileMenu {
    /* background-color: red; */
}

.editMenu {
    /* background-color: red; */
}

.mainNavbar {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #222222;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 30;
    margin: 0 auto;
    border-bottom: 1px solid rgb(107, 107, 107);
}

.nodeButton1 {
    padding: 5px 0px;
    background: #b344ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 0.75rem;
    font-weight: 700;
    width: 5.5rem;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nodeButton1:hover {
    background: #b344ff;
    transform: translateY(-4px);
}

.nodeButton1:active {
    background: #5e0c8a;
    transform: translateY(2px);
}

.controlButtonsWrapper {
    display: flex;
    position: absolute;
    top: -0.15rem;
    left: 1rem;
}

.controlButtonsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.hamburgerMenu {
    position: fixed;
    top: 3.5rem;
    left: 1rem;
    background-color: #2e2e2e;
    padding: 0.5rem;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    z-index: 40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 12rem;
    color: white;
    display: none;
}

.hamburgerButton {
    display: none;
}

.hamburgerMenu button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    position: absolute;
    top: 0;
    left: 12rem;
    background-color: #2e2e2e;
    padding: 0.5rem;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    z-index: 50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 12rem;
}

.menu {
    position: absolute;
    top: 3.2rem;
    background-color: #2e2e2e;
    padding: 0.5rem;
    border: 1px solid #494949;
    border-radius: 5px;
    z-index: 40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 12rem;
    color: white;
}

.menuBar {
    margin-top: 1.3rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    top: 1.65rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    /* background-color: red; */
}

.menuBar button {
    font-size: 15px;
    margin: 7px;
    margin-right: 15px;
    outline: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.menuBar button:last-child {
    margin-right: 7px;
}

.menuBarButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

.menu li:last-child {
    border-bottom: none;
}

.menu li:hover {
    background: #007aff;
    color: white;
}

.hotkey {
    color: grey;
    font-size: 0.85rem;
}

.fileButton {
    color: white !important;
    font-size: 0.875rem !important;
    font-weight: 500;
}

.editButton {
    color: white !important;
    font-size: 0.875rem !important;
    font-weight: 400;
    margin-left: -0.3rem;
}

.stylingButton {
    color: white !important;
    font-size: 0.875rem !important;
    font-weight: 400;
}

.fileButton,
.editButton,
.stylingButton {
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fileButton:focus,
.editButton:focus,
.stylingButton:focus {
    background-color: grey;
    color: white;
    outline: none;
    padding: 5px;
    height: auto;
    border-radius: 5px;
}

.undoRedoButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    /* background-color: blue; */
}

.undoRedoButton {
    color: white !important;
    font-size: 0.7rem;
    padding: 10px;
}

.scriptLibraryLink {
    color: inherit;
    text-decoration: none;
}

.no-visited-style {
    color: inherit;
    text-decoration: none;
}

.no-visited-style:visited {
    color: inherit;
}

.micIcon {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0.70rem;
    right: 1.5rem;
}

.micIcon-inverted {
    filter: invert(100%);
}

.contentUpdateButton {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.ProseMirror {
    color: black;
    background-color: white;
    font-size: 1.0rem;
    padding: 0.75rem;
    height: 100%;
    outline: none;
    padding-top: 5.5rem;
    min-height: 11in;
    margin-top: 3.7rem;
}

.ProseBackground {}

.collaboration-cursor__caret {
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    word-break: normal;
    pointer-events: none;
}

.collaboration-cursor__label {
    position: absolute;
    top: -1.4em;
    left: -1px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    user-select: none;
    color: black;
    padding: 0.1rem 0.3rem;
    border-radius: 3px 3px 3px 0;
    white-space: nowrap;
}

.ProseMirror:focus {}

.ProseMirror>*+* {}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    line-height: 1.1;
}

.ProseMirror code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
}

.ProseMirror pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.ProseMirror code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 3px solid #999999;
}

.ProseMirror hr {
    border: none;
    border-top: 3px solid #999999;
    margin: 2rem 0;
}

.textEditor {
    border-radius: 0px;
    border: 1px solid grey;
}

.characterDeck {
    position: absolute;
    top: 45rem;
    left: 0;
    background-color: white;
    height: 20rem;
    width: 100%;
    color: black;
    text-align: center;
    border-top: 3px solid black;
}

.heading3 {
    font-size: 15px;
}

button.is_active {
    background: rgb(197, 197, 197);
    padding: 2px 3px;
    border-radius: 2px;
}

.action {
    margin-left: 140px !important;
    margin-right: 140px !important;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    font-weight: 550;
}

.scene-header {
    margin-left: 140px !important;
    margin-right: 140px !important;
    margin-top: 25px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 550;
}

.character {
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 550;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: -0.2rem;
}

.dialogue {
    margin-left: 240px !important;
    margin-right: 240px !important;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    font-weight: 550;
    line-height: 1.1;
}

/* MEDIA QUERY BREAKPOINTS: */

/* Extra Extra Large Devices (Large Desktops, 1400px and down) */
@media only screen and (max-width: 1400px) {}

/* Extra Large Devices (Desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {}

/* Large Devices (Laptops, 1024px and down) */
@media only screen and (max-width: 1024px) {
    
}

/* Medium Devices (Tablets, 768px and down) */
@media only screen and (max-width: 768px) {

    .hide-on-mobile {
            display: none;
    }

    .mainContainer {
        width: 100%;
    }

    .mainNavbar {
        width: 100%;
        height: 3.5rem;     
    }

    .hotkey {
        display: none;
    }

    .action {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .scene-header {
        margin-left: 10px !important;
        margin-right: 10px !important;
        margin-top: 25px;
    }

    .character {
        margin-left: auto;
        margin-right: auto;
    }

    .dialogue {
        margin-left: 80px !important;
        margin-right: 80px !important;
    }

    .nodeButton1 {
        margin-top: 1.5rem;
        font-size: 0.875rem;
        font-weight: 600;
        width: 5rem;
    }

    .controlButtonsContainer {
        gap: 0.8rem;
    }

    .fileButton,
    .editButton,
    .stylingButton {
        display: none;
    }

    .hamburgerButton {
        display: block;
        position: absolute;
        top: 1.1rem;
        left: 1rem;
        color: white;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .hamburgerMenu {
        display: block;
    }

    .menuBar {
        top: 2.3rem;
        left: 50%;
    }

    .menu {
        display: flex;
        position: absolute;
        top: 3.6rem;
        left: 12rem;
        background-color: #2e2e2e;
        color: white;
    }

    .menu ul {
        font-size: 1rem;
    }

    .menu li {
        margin-bottom: 0.7rem;
    }

    .controlButtonsContainer {
        gap: 0rem;
    }

    .menuBarButtonContainer {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
        gap: 0.3rem;
        /* background-color: green !important; */
        z-index: 1000;
    }

    .undoRedoButton {
        color: white !important;
        font-size: 0.7rem;
        padding: 10px;
    }

   .undoRedoButtonContainer {
       margin-top: 0.9rem;
       margin-left: 20.0rem;
       /* background-color: blue; */
       z-index: -1;
   }

    .undoRedoButton {
        font-size: 1.0rem;
        padding: 10px;
    }

    .nodeButton1 {
        font-size: 0.6rem;
        font-weight: 400;
        width: 4rem;
        margin-bottom: 1.20rem;
    }

    .micIcon {
        position: absolute;
        width: 26px;
        height: 26px;
        top: 1.0rem;
        right: 1.0rem;
    }

    .hamburgerMenu .submenu ul .hotkey {
        display: none;
    }
}

/* Small Devices (Phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Extra Small Devices (Phones, 360px and down) */
@media only screen and (max-width: 360px) {}