.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.mainContainer {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 50.5rem;
}

.mainNavbar {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #343434;
    width: 50.5rem;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem;
    z-index: 30;
    margin: 0 auto;
}

.menuBar {
    margin-top: 1.3rem;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343434;
    border-bottom: 1px solid black;
    position: fixed;
    width: 50.5rem;
    top: 1.49rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    border-top: 1px solid white;
}

.menuBar button {
    font-size: 10px;
    margin: 7px;
    margin-right: 15px;
    outline: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.menuBar button:last-child {
    margin-right: 7px;
}

.menuBarButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburgerMenu {
    position: absolute;
    color: white;
    width: 20px;
    height: 20px;
    top: 0.4rem;
    left: 0.5rem;
}

.stylingIcon {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0.5rem;
    left: 3.5rem;
}

.settingsMenuIcon {
    margin-top: 0.25em;
    color: white;
    font-size: 1.3rem;
}

.settingsMenuContainer {
    position: absolute;
    top: 0.5rem;
    left: .5rem;
}

.settingsMenu {
    position: absolute;
    top: 2.3rem;
    left: -0.5rem;
    background-color: #343434;
    padding: 0.5rem;
    border: 1px solid #6a6a6a;
    border-radius: 0px 0px 5px 0;
    z-index: 40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 10rem;
    color: white;
}

.settingsMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
}

.settingsMenu li {
    padding: 0.5rem;
    cursor: pointer;
    transition: background 0.3s;
    border-bottom: 1px solid #6a6a6a;
}

.settingsMenu li:last-child {
    border-bottom: none;
}

.settingsMenu li:hover {
    background: #f0f0f0;
}

.scriptLibraryLink {
    color: inherit;
    text-decoration: none;
}

.icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0.5rem;
    right: 0.5rem;
}

.icon-inverted {
    filter: invert(100%);
}

.contentUpdateButton {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.ProseMirror {
    color: black;
    background-color: white;
    font-size: 1.0rem;
    padding: 0.75rem;
    height: 100%;
    outline: none;
    padding-top: 5.5rem;
    min-height: 11in;
}

.ProseBackground {}

.collaboration-cursor__caret {
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    word-break: normal;
    pointer-events: none;
}

.collaboration-cursor__label {
    position: absolute;
    top: -1.4em;
    left: -1px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    user-select: none;
    color: black;
    padding: 0.1rem 0.3rem;
    border-radius: 3px 3px 3px 0;
    white-space: nowrap;
}

.ProseMirror:focus {
    /* border: none;
    outline: 1px solid aqua; */
}

.ProseMirror>*+* {}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    line-height: 1.1;
}

.ProseMirror code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
}

.ProseMirror pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.ProseMirror code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 3px solid #999999;
}

.ProseMirror hr {
    border: none;
    border-top: 3px solid #999999;
    margin: 2rem 0;
}

.textEditor {
    border-radius: 0px;
    border: 1px solid grey;
}

.characterDeck {
    position: absolute;
    top: 45rem;
    left: 0;
    background-color: white;
    height: 20rem;
    width: 100%;
    color: black;
    text-align: center;
    border-top: 3px solid black;
}

.heading3 {
    font-size: 15px;
}

button.is_active {
    background: rgb(197, 197, 197);
    padding: 2px 3px;
    border-radius: 2px;
}

.action {
    margin-left: 140px !important;
    margin-right: 140px !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: 550;
}

.scene-header {
    margin-left: 140px !important;
    margin-right: 140px !important;
    margin-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 550;
}

.character {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 550;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: -.2rem;
}

.dialogue {
    margin-left: 240px !important;
    margin-right: 240px !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: 550;
    line-height: 1.1;
}

.nodeButton1 {
    margin-left: 1rem;
    padding: 4px 0px;
    background: linear-gradient(145deg, #B344FF, #B344FF);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 600;
    width: 6rem;
    text-align: center;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), inset 0 -3px 1px rgba(0, 0, 0, 0.3); */
    transition: all 0.3s ease;
    cursor: pointer;
}

.nodeButton1:hover {
    background: linear-gradient(145deg, #8a2be2, #6a0dad);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), inset 0 -3px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}

.nodeButton1:active {
    background: linear-gradient(145deg, #5e0c8a, #7a1cc2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 3px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

@media (max-width: 600px) {
    .mainContainer {
        width: 100%;
    }

    .mainNavbar {
        width: 100%;
        height: 5.5em;
    }

    .menuBar {
        flex-wrap: wrap;
        margin-top: 4.49rem;
    }

    .action {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .scene-header {
        margin-left: 10px !important;
        margin-right: 10px !important;
        margin-top: 25px;
    }

    .character {
        margin-left: auto;
        margin-right: auto;
    }

    .dialogue {
        margin-left: 80px !important;
        margin-right: 80px !important;
    }

        .nodeButton1 {
            margin-top: 2.2rem;
            font-size: 0.875rem;
            font-weight: 600;
            width: 5rem;
    
        }
}