.Carousel__wrapper {
  background-color: black;
  height: 100vh;
  display: flex;
  position: relative;
}

.Carousel__container {
  max-width: 100vw;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Carousel__liveText1 {
  position: absolute;
  top: 4.6%;
  left: 2.3%;
  font-size: clamp(0rem, 9vw + 1rem, 9rem);
  color: var(--clr-primary-1100);
  max-width: 5rem;
  font-weight: var(--fw-bold3);
  line-height: 0.8;
  text-shadow: rgb(0, 0, 0) 4px 4px 14px;
  z-index: 13003;
}

.Carousel__liveText2 {
  position: absolute;
  top: 4.6%;
  left: 22.8%;
  font-size: clamp(0rem, 3vw + 1rem, 3rem);
  color: var(--clr-primary-1100);
  font-weight: var(--fw-regular);
  text-shadow: rgb(0, 0, 0) 4px 4px 14px;
  max-width: 70rem;
  z-index: 13002;
  line-height: 3rem;
}

.Carousel__imagesContainer {
  position: relative;
  overflow: hidden;
}

.Carousel__flexDiv {
  display: flex;
}

.Carousel__aspectImages {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.Carousel__leftSide {
  position: absolute;
  left: 0.5rem;
  top: 0.375rem;
  margin-top: 24rem;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 9999px;
}

.Carousel__rightSide {
  position: absolute;
  right: 0.5rem;
  top: 0.375rem;
  margin-top: 24rem;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 9999px;
}

.Carousel__chevronRight {
  /* height: 150.352px;
  width: 1.5rem; */
  font-size: 80px;
}

.Carousel__chevronLeft {
  height: 150.352px;
  width: 1.5rem;
}

.Carousel__thumbnails {
  display: flex;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 1.5rem;

  height: 3.5rem;
  justify-content: center;
  overflow: hidden;
}

.Carousel__thumbSize {
  height: 100%;
  object-fit: cover;
}

.Carousel__thumbHeight {
  display: flex;
  flex-shrink: 0;
}
