.scripts-library-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.script-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 10rem;
}

.script-icon-image {
    width: 9rem;
}

.script-icons-container {
    display: flex;
    position: absolute;
    top: 7px;
    left: 29px;
    /* background-color: red;  */
}

.icon {
    height: 25px;
    width: 25px;
    margin-left: .5rem;
}

.script-title {
    font-size: 1rem;
    text-align: center;
    color: black;
}

.scriptsButtonContainer {
    text-align: center;
}