.wrapper {
    /* background-color: pink; */
}

.mainContainer {
   display: flex;
   position: relative;
   justify-content: center;
   background-color: black;
   flex-direction: row;
   flex-wrap: wrap;
   padding-top: 1rem;
}

.allScriptsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    /* background-color: blue; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
}

.inidvidualScriptsContainer {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #222222;
    flex-direction: column;  
    width: 11rem; 
    height: 12.5rem;
    border-radius: 20px;
    padding: 10px;
}

.scriptIconImage {
    @apply w-[6rem] flex justify-center;
}

.scriptTitle {
    @apply text-center text-white text-base font-[600] text-[.875rem] mt-[.5rem] line-clamp-2;
}

.scriptsButtonContainer {
    @apply text-center;
} 

.addScriptContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    flex-direction: column;
    width: 11rem;
    height: 12.5rem;
    border-radius: 20px;
    padding: 10px;
}

.addScriptContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.addScriptPlus {
    @apply text-2xl m-0;
    background-color: white;
    color: #222222;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.addScriptText {
    @apply m-0 text-white;
}

/* Responsive adjustments */
/* @media (orientation: portrait) {}

@media (orientation: landscape) {}

/* Additional adjustments for smaller screens */
/* @media (max-width: 600px) {
    .scriptsLibraryContainer {
        @apply w-[100%];
        grid-template-columns: repeat(2, 1fr);
    }

    .scriptContainer {
        @apply w-full;
    } */
/* } */ 