.wrapper {
    /* display: flex;
    justify-content: center;
    width: 100%; */
    /* background-color: pink; */
}

.mainContainer {
   display: flex;
   position: relative;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   max-width: 1920px;
   margin-inline: auto;
   background-color: #000000;
   font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
   /* background-image: url('../../assets/images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.allScriptsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
    padding: 1rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    border: 1px solid #B344FF;
}

.inidvidualScriptsContainer {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;  
    width: 11rem; 
    height: 12.5rem;
    border-radius: 20px;
    padding: 10px;
    background-color: #2c2c2c;
    /* border: 1px solid #8a2be2; */
    /* background: #313131; */
    /* background: blue; */
    /* background-image: url('../../assets/images/AIScript1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     */
}

.inidvidualScriptsContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 20px;
    z-index: 1;
}

.inidvidualScriptsContainer>* {
    position: relative;
    z-index: 2;
}

.scriptIconImage {
    @apply w-[6rem] flex justify-center;
}

.scriptTitle {
    @apply text-center text-base font-[600] text-[.875rem] mt-[.5rem] line-clamp-2;
    color: rgba(255, 255, 255, 1.0);
}

.scriptsButtonContainer {
    @apply text-center;
} 

.addScriptContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    flex-direction: column;
    width: 11rem;
    height: 12.5rem;
    border-radius: 20px;
    padding: 10px;
}

.addScriptContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.addScriptPlus {
    @apply text-2xl m-0;
    background-color: white;
    color: #222222;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.addScriptText {
    @apply m-0 text-white;
}

/* Responsive adjustments */
@media (orientation: portrait) {}

@media (orientation: landscape) {}

/* Additional adjustments for smaller screens */
@media (max-width: 600px) {
    .scriptsLibraryContainer {
        @apply w-[100%];
        grid-template-columns: repeat(2, 1fr);
    }

    .scriptContainer {
        @apply w-full;
    } 

    .allScriptsContainer {
        margin-top: .5rem;
        width: 100%;
    }
}