.scripts-library-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.3rem;
}

.scripts-library-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: blue; */
    justify-content: flex-start;
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 1200px;
    box-sizing: border-box;
}

.script-container {
    position: relative;
    width: 175px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* background-color: yellow; */
    padding: 5px;
}

.script-icon-image {
    width: 10rem;
}

.script-icons-container {
    display: flex;
    position: absolute;
    top: 7px;
    left: 29px;
}

.icon {
    height: 25px;
    width: 25px;
    margin-left: .5rem;
}

.script-title {
    font-size: 1rem;
    text-align: center;
    color: black;
}

.scriptsButtonContainer {
    text-align: center;
}

.add-script-container {
    color: black;
    position: relative;
    width: 175px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* background-color: blue; */
    text-align: center;
    padding: 5px;
}

.add-script-content {
    color: black;
    position: relative;
    width: 125px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 1.5rem;
    /* background-color: red; */
    border: 4px solid black;
    border-radius: 15px;
}

.add-script-plus {
    font-size: 2rem;
    margin: 0;
}

.add-script-text {
    margin: 0;
}

/* Responsive adjustments */
@media (orientation: portrait) {

}

@media (orientation: landscape) {}

/* Additional adjustments for smaller screens */
@media (max-width: 600px) {
    .scripts-library-container {
            width: calc(100% - 20px);
        }
}