.modalOverlay {
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-[1000];
}

.modalContent {
    @apply p-8 text-left text-white w-4/5 max-w-md rounded-2xl transform transition-all duration-300 ease-in-out;
    background-color: rgba(31, 32, 31, 1.0);
    backdrop-filter: blur(5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.52);
    position: relative;
}

.modalContent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.0);
    border-radius: inherit;
    pointer-events: none;
}

.closeButton {
    @apply flex justify-end mb-4;
}

.closeButtonBtn {
    @apply bg-none border-none text-2xl cursor-pointer text-gray-400 hover:text-gray-200 transition-colors duration-200 ease-in-out;
}

.h2 {
    @apply text-center text-2xl font-light mb-4 text-white;
}