.modalOverlay {
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-[1000];
}

.modalContent {
    @apply p-8 text-left text-white w-4/5 max-w-md rounded-[20px] transform transition-all duration-300 ease-in-out;
    background-color: #2c2c2c;
    backdrop-filter: blur(5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.52);
    position: relative;
}

.modalContent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.0);
    border-radius: inherit;
    pointer-events: none;
}

.h2 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
    font-size: 2.0rem !important
}

.closeButton {
    @apply flex justify-end mb-4;
}

.closeButtonBtn {
    @apply bg-none border-none text-2xl cursor-pointer text-gray-400 hover:text-gray-200 transition-colors duration-200 ease-in-out;
}

.closeIcon {
    @apply bg-transparent rounded-full p-2 w-6 h-6 flex items-center justify-center text-xl text-white cursor-pointer;
}

.h2 {
    @apply text-center text-2xl font-light mb-4 text-white;
}

.formGroup {
}

.formLabel {
    @apply block font-semibold text-gray-200 mb-2;
}

.formInput {
    @apply w-full p-1.5 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-300 ease-in-out bg-gray-200 text-black font-[500];
    border-radius: 10px !important;
}

.buttonContainer {
    @apply flex gap-4 mt-[2rem] justify-center mb-[.5rem];
}

.submitButton {
    @apply bg-[#007AFF] text-white py-2 px-6 border-none rounded-full cursor-pointer text-base shadow-md hover:bg-[#005bb5] transition-all duration-300 ease-in-out w-28 font-semibold text-[1rem];
}

.cancelButton {
    @apply bg-[#8E8E93] text-white py-2 px-6 rounded-full cursor-pointer text-base shadow-md hover:bg-[#6C6C70] transition-all duration-300 ease-in-out w-28 font-semibold text-[1rem];
}

.divider {
    @apply w-full mt-7 mb-[1.5rem] border-t border-gray-300;
}

.deleteText {
    @apply text-center text-white mb-4;
}

.deleteButtonContainer {
    @apply flex justify-center mt-2;
}

.deleteButton {
    @apply bg-red-600 text-white py-2 px-6 border-none rounded-full cursor-pointer text-base shadow-md hover:bg-red-700 transition-all duration-300 ease-in-out w-28 font-semibold text-[1rem];
}

.deleteConfirmation {
    @apply mt-4 text-center;
}

.confirmationActions {
    @apply flex justify-center mt-4 gap-8;
}

.confirmDelete {
    @apply bg-transparent text-white w-28 py-2 rounded-full cursor-pointer hover:bg-[#6C6C70] transition-all duration-300 ease-in-out border-[1px] border-white text-[1rem];
}

.cancelDelete {
    @apply bg-transparent text-white w-28 py-2 rounded-full cursor-pointer hover:bg-[#6C6C70] transition-all duration-300 ease-in-out border-[1px] border-white text-[1rem];
}