.textOpacityWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
}

.textOpacityContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-inline: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
}


.paragraph {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    max-width: 50%;
    color: rgb(1, 128, 255);
    flex-wrap: wrap;
    margin-inline: auto;

    .word {
        position: relative;
        margin-right: 12px;
        margin-top: 12px;

        .shadow {
            position: absolute;
            opacity: 20%;
        }
    }

}