.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 1.0) 21%,
            rgba(115, 32, 173, 0.8127844887955182) 100%,
            rgba(22, 0, 25, 0.7) 100%),
        url('../../assets/images/background6.jpg') no-repeat center center/cover;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-inline: auto;
}

.loginSectionContainer {
    padding: 0rem 6rem;
    /* background-color: red; */
}

.homeNavContainer {
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    padding: 1.5rem 6rem;
    width: 100%;
    padding-left: 3rem;
    border-bottom: 1px solid rgb(91, 91, 91);
}

.signInButtonContainer {}

.signInButton {
    background-color: #007aff;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInButton:hover {
    background-color: #005bb5;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.signInButton:active {
    background-color: #004085;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

.signInButtonIcon {
    margin-right: 5px;
    font-size: 0.7rem;
}

.faqButtonContainer {
    /* margin-left: 13rem;
    margin-top: -3.2rem; */
    z-index: 12000;
}

.faqButton {
    background-color: none;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faqButton:hover {
    background-color: #005bb5;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.faqButton:active {
    background-color: #004085;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

.faqButton {
    margin-right: 5px;
    font-size: 0.7rem;
}

.searchBarContainer {}

.searchBarWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6rem;
}

.searchBar {
    background-color: black !important;
    color: #9b9b9b !important;
    padding: 2px 10px !important;
    border: 1px solid white !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    cursor: text !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease !important;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    width: 175px !important;
    padding-left: 30px !important;
    border-radius: 5px !important;
}

.searchBar::placeholder {
    color: rgba(235, 235, 245, 0.6) !important;
}

.searchIcon {
    position: absolute !important;
    left: 10px !important;
    color: #9b9b9b !important;
    pointer-events: none !important;
}

.ball3D1Container {
    display: flex;
    position: absolute;
    top: -14rem;
    left: 7.5rem;
    width: 100%;
    height: 100%;
}

.ball3D1Wrapper {
    width: 70rem;
    height: 70rem;
    transform: scale(0.22);
}

.character {
    display: inline-block;
    margin: 0 2px;
}

.d3Quack {
    position: relative;
    /* top: 10rem;
    right: 80rem; */
}

.headingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
}

.quackIconContainer {
    display: flex;
    position: absolute;
    top: 6.7rem;
    left: 27.0rem;
    width: 100%;
    height: 100%;
}

.quackIconWrapper {
    width: 30rem;
    height: 30rem;
    transform: scale(0.35);
}

.heading1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 9.0rem;
    margin-top: 8.87rem;
    font-weight: 900;
}

.heading2 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.0rem;
    background: rgba(255, 255, 255, 0.92);
    background-clip: text;
    font-weight: 700;
    color: white;
}

.missionStatement1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    background-clip: text;
    font-weight: 300;
    color: rgb(202, 202, 202);
    margin-top: 1rem;
}

.backgroundImage {
    display: flex;
    position: absolute;
    top: 4rem;
    right: 1.5rem;
    height: 50rem;
    width: 50rem;
}

.tryItButton {
    background-color: #007aff;
    color: white;
    padding: 1.0rem 2.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.0rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.tryItButton:hover {
    background-color: #005bb5;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.tryItButton:active {
    background-color: #004085;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

.textBoxesContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    padding: 0 5rem;
}

.textBox {
    color: white;
    flex: 1;
    margin: 0 50px;
    padding: 40px;
    background-color: none;
    /* background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    border: 1px solid white;
    border-radius: 15px;
   
}

.phoneSectionHeader {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px;
}

.phoneHeading {
    margin-top: 2rem;
    font-weight: 400;
}

.phoneImage {
    margin-top: 24rem;
    font-weight: 400;
}

.darkFrontiersContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    border-bottom: 1px solid rgb(91, 91, 91);
    border-top: 1px solid grey;
    padding: 12rem 0;
}

.darkBlackBox {
    display: flex;
    position: absolute;
    top: 4.5rem;
    left: 14.5rem;
    background-color: rgb(17, 17, 17);
    height: 40rem;
    width: 90rem;
    border-radius: 15px;
    z-index: 1;
}

.darkTextContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /* height: 50rem; */
    padding: 20px;
    margin-left: 60rem;
    margin-top: 2rem;
    max-width: 39rem;
    z-index: 2;
    /* background-color: red;  */
}

 .darkHeading {
    color: white;
    font-weight: 900;
    font-size: 5.0rem;
 }

  .darkParagraph {
    color: rgb(162, 162, 162);
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

.cubeContainer {
    display: flex;
    position: absolute;
    top: -10rem;
    left: 5%;
    z-index: 2;
}

.cubeWrapper {
    width: 70rem;
    height: 70rem;
    transform: scale(0.7);
}

.artisticContainer {
    display: flex;
    justify-content: space-around;
    height: 50rem;
    padding: 5rem 5rem;
    border-top: 1px solid rgb(91, 91, 91);
    border-bottom: 1px solid rgb(91, 91, 91);
}

.artisticBox {
    flex: 1;
    margin: 0 50px;
    padding: 20px;
    background: linear-gradient(135deg, #630333, #0008ff);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    transition: height 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    position: relative;
    height: 5rem;
}

.artisticPragraph {
    font-weight: 400;
    font-size: .875rem;
    text-align: left;
}

.titleText {
    position: relative;
    z-index: 1;
}

.revealText {
    margin-top: 20px;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.artisticBox:hover {
    height: 40rem;
}

.artisticBox:hover .revealText {
    opacity: 1;
}

.pageSection {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 5rem 5rem;
    border-top: 1px solid rgb(91, 91, 91);
    border-bottom: 1px solid rgb(91, 91, 91);
}

.pageText {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    max-width: 70%;
    margin: 0 auto;
    z-index: 3;
}

.maskedImageContainer {
    position: absolute;
    top: 15rem;
    left: 55rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.maskedImage {
    width: 100%;
    height: auto;
    -webkit-mask-image: radial-gradient(circle, white 50%, transparent 51%);
    mask-image: radial-gradient(circle, white 50%, transparent 51%);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.maskedImageContainer2 {
    position: relative;
    top: -18rem;
    left: 24rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 1.0;
}

.maskedImage2 {
    width: 100%;
    height: auto;
    -webkit-mask-image: radial-gradient(circle, white 50%, transparent 51%);
    mask-image: radial-gradient(circle, white 50%, transparent 51%);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

@media (max-width: 600px) {
    .navContainer {
        padding-right: 4.0rem;
    }

    .heading1 {
        font-size: 2.5rem;
    }

    .heading2 {
        font-size: 1.3rem;
    }
}