.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/images/background6.jpg') no-repeat center center/cover;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    /* Less transparent overlay */
    background: linear-gradient(90deg, rgba(0, 0, 0, 1.0) 21%, rgba(115, 32, 173, 0.8127844887955182) 100%, rgba(22, 0, 25, 0.7) 100%);
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-inline: auto;
}

.loginSectionContainer {
    padding: 0rem 6rem;
}

.homeNavContainer {
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    padding: 1.5rem 6rem;
    width: 100%;
    padding-left: 3rem;
    border-bottom: 1px solid rgb(91, 91, 91);
}

.signInButtonContainer {}

.signInButton {
    background-color: #007aff;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInButton:hover {
    background-color: #005bb5;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.signInButton:active {
    background-color: #004085;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

.signInButtonIcon {
    margin-right: 5px;
    font-size: 0.7rem;
}

.searchBarContainer {}

.searchBarWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6rem;
}

.searchBar {
    background-color: black !important;
    color: #9b9b9b !important;
    padding: 2px 10px !important;
    border: 1px solid white !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    cursor: text !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease !important;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    width: 175px !important;
    padding-left: 30px !important;
    border-radius: 5px !important;
}

.searchBar::placeholder {
    color: rgba(235, 235, 245, 0.6) !important;
}

.searchIcon {
    position: absolute !important;
    left: 10px !important;
    color: #9b9b9b !important;
    pointer-events: none !important;
}

.headingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
}

.quackIcon {
    height: 30px;
    width: 30px;
    margin-right: 79rem;
    margin-top: 1.0rem;
}

.heading1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 9.0rem;
    margin-top: 8.87rem;
    font-weight: 900;
}

.heading2 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.0rem;
    background: rgba(255, 255, 255, 0.92);
    background-clip: text;
    font-weight: 700;
    color: white;
}

.missionStatement1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    background-clip: text;
    font-weight: 300;
    color: rgb(202, 202, 202);
    margin-top: 1rem;
}

.backgroundImage {
    display: flex;
    position: absolute;
    top: 4rem;
    right: 1.5rem;
    height: 50rem;
    width: 50rem;
}

.tryItButton {
    background-color: #007aff;
    color: white;
    padding: 1.0rem 2.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.0rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.tryItButton:hover {
    background-color: #005bb5;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.tryItButton:active {
    background-color: #004085;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

@media (max-width: 600px) {
    .navContainer {
        padding-right: 4.0rem;
    }

    .heading1 {
        font-size: 2.5rem;
    }

    .heading2 {
        font-size: 1.3rem;
    }
}