.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.content {
    position: relative;
    z-index: 10;
    padding: 20px;
    mix-blend-mode: difference;
    color: rgb(169, 104, 191);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textSmall {
    width: 50vw;
    font-size: 2vw;
    align-self: flex-end;
    text-transform: uppercase;
    mix-blend-mode: difference;
}

.textLarge {
    font-size: 5vw;
    text-transform: uppercase;
    mix-blend-mode: difference;
}

.backgroundImageContainer {
    position: fixed;
    top: -10vh;
    left: 0;
    height: 120vh;
    width: 100%;
}

.backgroundImage {
    position: relative;
    width: 100%;
    height: 100%;
}

.backgroundImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: invert(1);
}

.screenHeight {
    height: 100vh;
    overflow: hidden;
}

.relativeFullHeight {
    position: relative;
    height: 100%;
}