.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.mainContainer {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 1rem 4rem;
}

.removeButton {
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.7rem;
    margin-top: -3.8rem;
    cursor: pointer;
    font-weight: 900;
}

.removeButton:hover {
    background: darkred;
}

/* Responsive adjustments */
@media (orientation: portrait) {}

@media (orientation: landscape) {}

/* Additional adjustments for smaller screens */
@media (max-width: 600px) {
    .mainContainer {
      
            padding: 1rem 0rem; 
        }
}