.characterDeckButton {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
  background: linear-gradient(145deg, #b344ff, #ba79ff);
  box-shadow: 2px 2px 4px #999, -1px -1px 4px #ffffff;
  transition: all 0.2s ease-in-out;
  /* cursor: grab; */
}

.characterDeckButton:active {
  /* cursor: grabbing; */
}

.characterDeckButton:hover {
  background: linear-gradient(145deg, #e0e0e0, #a0a0a0);
}

.characterDeckButton:active {
  background: linear-gradient(145deg, #c0c0c0, #8a8a8a);
  box-shadow: inset 4px 4px 8px #555, inset -2px -2px 4px #999;
}

.characterDeckButtonAdd {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
  background: linear-gradient(145deg, #007aff, #007aff);
  box-shadow: 2px 2px 4px #999, -1px -1px 2px #ffffff;
  transition: all 0.2s ease-in-out;
  /* cursor: grab; */
}

.characterDeckButtonAdd:active {
  /* cursor: grabbing; */
}

.characterDeckButtonAdd:hover {
  background: linear-gradient(145deg, #e0e0e0, #a0a0a0);
}

.characterDeckButtonAdd:active {
  background: linear-gradient(145deg, #c0c0c0, #8a8a8a);
  box-shadow: inset 4px 4px 8px #555, inset -2px -2px 4px #999;
}

.characterDeckButton.dragging {
  opacity: 0.5;
}