.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.mainContainer {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 50.5rem;
}

.characterDeck {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.4);
    width: 50.5rem;
    color: black;
    text-align: center;
    border-top: 3px solid black;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
    min-height: 5rem;
    max-height: 20rem;
}

.resizeHandle {
    width: 20px;
    height: 20px;
    background: grey;
    cursor: ns-resize;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: .5rem;
}

.plusSign {
    font-size: 1.0rem;
    line-height: 1;
}

/* Responsive adjustments */
@media (orientation: portrait) {}

@media (orientation: landscape) {}

/* Additional adjustments for smaller screens */
@media (max-width: 600px) {
    .characterDeck {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        overflow: none; 
    }

        .resizeHandle {
            top: 10px;
            right: 10px;
            padding: 0.9rem;
        }

           .plusSign {
               font-size: 1.2rem;
               line-height: 1;
           }
}

       