.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.mainContainer {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 1rem 4rem;
}

/* Responsive adjustments */
@media (orientation: portrait) {}

@media (orientation: landscape) {}

/* Additional adjustments for smaller screens */
@media (max-width: 600px) {
    .mainContainer {
      
            padding: 1rem 0rem; 
        }
}